@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
}
.sony_logo{
    width: 80px;
}
.btn_orange{
    background-color: #CD3D0F;
}
.btn_blue{
    background-color: #0070D1;
}

/* SECTION FONTS GENERAL */
.section_title h2{
    font-size: 46px;
}
.section_title p{
    font-size: 22px;
    font-weight: 500;
    color: #787878;
    padding-bottom: 1rem;
}
.section_title h6{
    color: #0070D1;
}

/* NAVBAR */
header{
    display: contents;
}
#nav{
    position: sticky;
    top: 0px;
    z-index: 999;
}
.dropdown-toggle::after{
    border: none;
    content: '\f107';
    vertical-align: middle;
    font: var(--fa-font-solid);
}
.dropdown-toggle.show::after{
    content: '\f106';
}

/* HERO */
#hero{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    padding-top: 300px;
}
.card_hero_img{
    width: 250px;
}
.img_carousel .active{
    border: 2px solid #0070D1;
    padding: 3px;
}

/* PS5 */
.ps5_card h4{
    font-size: 48px;
}
.ps5_card p{
    font-size: 22px;
    font-weight: 500;
    color: #787878;
}
.ps5_active{
    border-bottom: 3px solid #0070D1;
}
.card_opacity{
    opacity: 0.5;
}
.card_opacity:hover{
    opacity: 1;
}

/* It Takes Two */
.it_takes_two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

/* New Release */
.new_release{
    background-color: #1F1F1F;
}
.new_release_subtitle{
    display: block;
    font-size: 24px;
    font-weight: 500;
    padding: 20px 0;
}
#new_release_card:hover #new_release_img{
    transform: scale(1.05);
    transition: 400ms ease-in-out;
    cursor: pointer;
}

/* PS4 */
.ps4_p{
    font-size: 20px !important;
    font-weight: 500;
    color: #787878;
}

/* PS PLUS */
.ps_plus{
    background-color: #BEBCBB;
}
.ps_plus_logo{
    width: 350px;
}
.btn_light{
    background-color: rgba(255, 255, 255, 0.5);
}
.blue_link{
    color: #0070D1;
    font-weight: 500;
}

/* PS NOW */
.ps_now{
    background-color: #161C3B;
}

/* SOCIAL */
.row_wrapper{
    max-width: 900px;
    margin: 0 auto;
}

/* footer */
.ps_footer{
    background-color: #00439C;
}

.ps_footer_logo{
    color: white;
    width: 100px;
}
.language_img{
    width: 20px;
}

.sie_logo{
    width: 130px;
}